<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #documentTemplatesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="documentTemplates.id"><b>{{l("EditDocumentTemplates")}}</b></span>
                        <span *ngIf="!documentTemplates.id"><b>{{l("CreateNewDocumentTemplates")}}</b></span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="templateName">{{l("TemplateName")}}</label>
                        <textarea [placeholder]="l('TemplateName')" name="templateName" id="templateName" class="form-control" [(ngModel)]="documentTemplates.templateName"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="attachedFileLink">{{l("AttachedFileLink")}}</label>
                        <textarea [placeholder]="l('AttachedFileLink')" name="attachedFileLink" id="attachedFileLink" class="form-control" [(ngModel)]="documentTemplates.attachedFileLink"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="attachedFileName">{{l("AttachedFileName")}}</label>
                        <textarea [placeholder]="l('AttachedFileName')" name="attachedFileName" id="attachedFileName" class="form-control" [(ngModel)]="documentTemplates.attachedFileName"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!documentTemplatesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>