<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #resourcesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="resources.id"><b>{{l("EditResources")}}</b></span>
                        <span *ngIf="!resources.id"><b>{{l("CreateNewResources")}}</b></span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="resourceID">{{l("ResourceID")}} (<span class="color-red">*</span>)</label>
                        <input type="number" id="ResourceID" class="form-control" [(ngModel)]="resources.resourceID" name="Name" #resourceID="ngModel" minlength="0" maxlength="100" required/>
                        <validation-messages [formCtrl]="resourceID"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="resourceType">{{l("ResourceType")}}</label>
                        <textarea [placeholder]="l('ResourceType')" name="resourceType" id="resourceType" class="form-control" [(ngModel)]="resources.resourceType"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="unitCost">{{l("UnitCost")}} (<span class="color-red">*</span>)</label>
                        <input type="number" id="UnitCost" class="form-control" [(ngModel)]="resources.unitCost" name="Name" #unitCost="ngModel" minlength="0" maxlength="100" />
                        <validation-messages [formCtrl]="unitCost"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="unitType">{{l("UnitType")}}</label>
                        <textarea [placeholder]="l('UnitType')" name="unitType" id="unitType" class="form-control" [(ngModel)]="resources.unitType"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="supplier">{{l("Supplier")}}</label>
                        <textarea [placeholder]="l('Supplier')" name="supplier" id="supplier" class="form-control" [(ngModel)]="resources.supplier"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!resourcesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>