<div [@routerTransition]>
    <div class="m-content">
        <div class="m-portlet" m-portlet="true">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text m--font-accent">
                            {{l('Resources')}}
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-wrapper m-portlet__head-caption">

                    <div class="col-md-6 search-filter">
                        <div class="filter-left">
                            <input class="form-control form-control-sm m-input m-input--air m-input--pill" [(ngModel)]="filterText" name="filtertext" [placeholder]="l('Resources')" type="text" (keyup.enter)="getResources()">
                        </div>
                    </div>

                    <div class="col-md-6 pl-0">
                        <a href="javascript:;" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--custom m-btn--pill m-btn--air" (click)="getResources()">
                            <i class="fa flaticon-search"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" (click)="clearFilter()">
                            <i class="fa flaticon-refresh"></i>
                        </a>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item" *ngIf="isGranted('Pages.Resources.Create')">
                            <a href="javascript:;" (click)="createResources()" class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--pill">
                                <span>
                                    <i class="flaticon-add-circular-button"></i>
                                    <span>{{l('BtnCreate')}}</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="m-portlet__body">
                <div class="row align-items-center">
                    
                        <div class="table-responsive table-scroll-horizontal-custom table-not-scroll">
                            <table class="table  table-bordered table-custom">
                                <thead class="thead-2">
                                    <tr>
                                        <th style="min-width: 50px;" class="text-center">STT</th>
                                        <th style="min-width: 75px;" class="text-center">{{l('ResourceID')}}</th>
                                        <th style="min-width: 100px;" class="text-center">{{l('ResourceType')}}</th>
                                        <th style="min-width: 100px;" class="text-center">{{l('UnitCost')}}</th>
                                        <th style="min-width: 100px;" class="text-center">{{l('UnitType')}}</th>
                                        <th style="min-width: 260px;" class="text-center">{{l('Supplier')}}</th> 
                                        <th style="width: 80px" [hidden]="!isGrantedAny('Pages.Resources.Edit', 'Pages.Resources.Delete')" class="text-center">{{l('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of primengTableHelper.records; let i = index">

                                        <td class="text-center">
                                            {{  i + 1 }}
                                        </td>
                                        <td class="text-center">
                                            {{item.resources.resourceID}}
                                        </td>
                                        <td class="text-center ">
                                            {{item.resources.resourceType}}
                                        </td>
                                        <td class="text-center ">
                                            {{ item.resources.unitCost }}
                                        </td>
                                        <td style="width: 300px;">
                                            {{ item.resources.unitType }}
                                        </td>
                                        <td>
                                            {{item.resources.supplier}}
                                        </td>
                                        <td style="width: 80px" class="text-center" [hidden]="!isGrantedAny('Pages.Resources.Edit', 'Pages.Resources.Delete')">
                                            <a (click)="createOrEditResourcesModal.show(item.resources.id)" href="javascript:;" *ngIf="permission.isGranted('Pages.Resources.Edit')" class="m-portlet__nav-link btn m-btn m-btn--hover-accent w-h-icon-24 m-btn--icon m-btn--icon-only m-btn--pill" title=" Cập nhật">
                                                <i class="la la-edit"></i>
                                            </a>
    
                                            <a (click)="deleteResources(item.resources.resources)" href="javascript:;" *ngIf="permission.isGranted('Pages.Resources.Delete')" class="m-portlet__nav-link btn m-btn m-btn--hover-danger w-h-icon-24 m-btn--icon m-btn--icon-only m-btn--pill" title=" Xóa">
                                                <i class="la la-trash"></i>
                                            </a>
                                        </td>                                    
                                    </tr>
                                </tbody>
                            </table>                   
                        </div>

                </div>
            </div>
        </div>
    </div>

    <createOrEditResourcesModal #createOrEditResourcesModal (modalSave)="getResources()"></createOrEditResourcesModal>

</div>