
<div [@routerTransition]>
    <div class="m-content">
        <div class="m-portlet" m-portlet="true">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text m--font-accent">
                            {{l('Projects Detail')}}
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-wrapper m-portlet__head-caption">

                    <div class="col-md-6 search-filter">
                        <div class="filter-left">
                            <input 
                                class="form-control form-control-sm m-input m-input--air m-input--pill" 
                                [(ngModel)]="filterText" 
                                name="filtertext" 
                                [placeholder]="l('Tasks')" 
                                type="text" 
                                (keyup.enter)="getTasks()"
                            >
                            <a 
                                href="javascript:;" 
                                class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--custom m-btn--pill m-btn--air" 
                                (click)="getTasks()"
                            >
                                <i class="fa flaticon-search"></i>
                            </a>

                            <a 
                            href="javascript:;" 
                            class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill ml-2" 
                            (click)="clearFilter()"
                            >
                            <i class="fa flaticon-refresh"></i>
                            </a>
                        </div>
                    </div>


                </div>

                <div class="m-portlet__head-tools">
                    <div *ngIf="isGranted('Pages.Tasks.Create')">
                        <a href="javascript:;" 
                           (click)="createTasks()" 
                           class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--pill green-button">
                            <span>
                                <i class="flaticon-add-circular-button"></i>
                                <span>{{l('Add new Project')}}</span>
                            </span>
                        </a>
                    </div>
                </div>
                
            </div>


            <div class="m-portlet__body">
                <div class="row align-items-center">
                    
                        <div class="table-responsive table-scroll-horizontal-custom table-not-scroll">
                            <table class="table table-bordered table-custom table-with-bg">
                                <thead class="thead-2">
                                    <tr>
                                        <th style="min-width: 50px;" class="text-center">STT</th>
                                        <th style="min-width: 75px;" class="text-center">Task Desciption</th>
                                        <!-- <th style="min-width: 150px;" class="text-center">Estimated Budget</th> -->
                                        <th style="min-width: 70px;" class="text-center">Actual Budget</th>
                                        <th style="min-width: 100px;" class="text-center">Estimated Start Date</th>
                                        <th style="min-width: 100px;" class="text-center">Estimated End Date</th>
                                        <th style="min-width: 100px;" class="text-center"> Actual Start Date</th>
                                        <th style="min-width: 100px;" class="text-center">Actual End Date</th>              
                                        <th style="min-width: 100px;" class="text-center">Project Name</th>
                                        <th style="min-width: 150px;" class="text-center">Stage</th>
                                        <th style="min-width: 100px;" class="text-center">Status</th>
                                        <th style="min-width: 100px;" class="text-center">Managed Employee</th>                                 
                                        <th style="width: 80px" [hidden]="!isGrantedAny('Pages.Tasks.Edit', 'Pages.Tasks.Delete')" class="text-center">{{l('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of primengTableHelper.records; let i = index">

                                        <td class="text-center cell-bg">
                                            {{  i + 1 }}
                                        </td>
                                        <td class="text-center cell-bg">
                                            {{item.tasks.taskDescription}}
                                        </td>
                                        <!-- <td class="text-center cell-bg">                                            
                                            {{item.tasks.estimatedBudget}}
                                        </td> -->
                                        <td class="text-center cell-bg">
                                            {{ item.tasks.actualBudget }}
                                        </td>
                                        <td class="text-center cell-bg" style="color: red;">
                                            {{ item.tasks.estimatedStartDate | date: 'dd/MM/yyyy' }}
                                        </td>
                                        <td  class="text-center cell-bg" style="color: red;">
                                            {{item.tasks.estimatedEndDate | date: 'dd/MM/yyyy'}}
                                        </td >
                                        <td class="text-center cell-bg">
                                            {{ item.tasks.startDate | date: 'dd/MM/yyyy' }}
                                        </td>
                                        <td  class="text-center cell-bg">
                                            {{item.tasks.endDate | date: 'dd/MM/yyyy'}}
                                        </td >
                                        <td  class="text-center cell-bg">
                                            {{getProjectName(item.tasks.projectID)}}
                                        </td>
                                        <td  class="text-center cell-bg">
                                            {{item.tasks.stage}}
                                        </td>
                                        <td  class="text-center cell-bg">
                                            {{item.tasks.status}}
                                        </td>
                                        <td  class="text-center cell-bg">
                                            {{getEmployeeName(item.tasks.managerEmployeeID)}}
                                        </td>
                                        <td class="text-center cell-bg" style="width: 80px" [hidden]="!isGrantedAny('Pages.Tasks.Edit', 'Pages.Tasks.Delete')">
                                            <div style="display: inline-flex; align-items: center; justify-content: center;">
                                                <a (click)="createOrEditTasksModal.show(item.tasks.id, item.tasks.projectID)" href="javascript:;" *ngIf="permission.isGranted('Pages.Tasks.Edit')" class="m-portlet__nav-link btn m-btn m-btn--hover-accent w-h-icon-24 m-btn--icon m-btn--icon-only m-btn--pill" title=" Cập nhật">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                <a (click)="deleteTasks(item.tasks)" href="javascript:;" *ngIf="permission.isGranted('Pages.Tasks.Delete')" class="m-portlet__nav-link btn m-btn m-btn--hover-danger w-h-icon-24 m-btn--icon m-btn--icon-only m-btn--pill" title=" Xóa">
                                                    <i class="la la-trash"></i>
                                                </a>
                                            </div>
                                        </td>                                   
                                    </tr>
                                </tbody>
                            </table>            
                        </div>

                </div>
            </div>
        </div>
    </div>

    <createOrEditTasksModal #createOrEditTasksModal (modalSave)="getTasks()"></createOrEditTasksModal>

</div> 
