<div [@routerTransition]>
    <div class="m-content">
        <div class="m-portlet" m-portlet="true">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text m--font-accent">
                            {{l('Contractors')}}
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-wrapper m-portlet__head-caption">

                    <div class="col-md-6 search-filter">
                        <div class="filter-left">
                            <input 
                                class="form-control form-control-sm m-input m-input--air m-input--pill" 
                                [(ngModel)]="filterText" 
                                name="filtertext" 
                                [placeholder]="l('Contractors')" 
                                type="text" 
                                (keyup.enter)="getContractors()"
                            >
                            <a 
                                href="javascript:;" 
                                class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--custom m-btn--pill m-btn--air" 
                                (click)="getContractors()"
                            >
                                <i class="fa flaticon-search"></i>
                            </a>

                            <a 
                            href="javascript:;" 
                            class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill ml-2" 
                            (click)="clearFilter()"
                            >
                            <i class="fa flaticon-refresh"></i>
                            </a>
                        </div>
                    </div>


                </div>

                <div class="m-portlet__head-tools">
                    <div *ngIf="isGranted('Pages.Contractors.Create')">
                        <a href="javascript:;" 
                           (click)="createContractors()" 
                           class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--pill green-button">
                            <span>
                                <i class="flaticon-add-circular-button"></i>
                                <span>{{l('Add new contractor')}}</span>
                            </span>
                        </a>
                    </div>
                </div>
                
            </div>


            <div class="m-portlet__body">
                <div class="row align-items-center">
                    
                        <div class="table-responsive table-scroll-horizontal-custom table-not-scroll">
                            <table class="table table-bordered table-custom table-with-bg">
                                <thead class="thead-2">
                                    <tr>
                                        <th style="min-width: 50px;" class="text-center">STT</th>
                                        <th style="min-width: 75px;" class="text-center">{{l('ContractorName')}}</th>
                                        <th style="min-width: 100px;" class="text-center">{{l('Phone')}}</th>
                                        <th style="min-width: 100px;" class="text-center">{{l('Email')}}</th>
                                        <th style="min-width: 100px;" class="text-center">{{l('Specialization')}}</th>
                                        <th style="width: 80px" [hidden]="!isGrantedAny('Pages.Contractors.Edit', 'Pages.Contractors.Delete')" class="text-center">{{l('Actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of primengTableHelper.records; let i = index">
                                        <td class="text-center cell-bg">
                                            {{  i + 1 }}
                                        </td>
                                        <td class="text-center cell-bg">
                                            {{item.contractors.contractorName}}
                                        </td>
                                        <td class="text-center cell-bg">
                                            {{item.contractors.phone}}
                                        </td>
                                        <td class="text-center cell-bg">
                                            {{ item.contractors.email}}
                                        </td>
                                        <td class="cell-bg" style="width: 300px;">
                                            {{ item.contractors.specialization }}
                                        </td>
                                        <td class="text-center cell-bg" style="width: 80px" [hidden]="!isGrantedAny('Pages.Contractors.Edit', 'Pages.Contractors.Delete')">
                                            <div style="display: inline-flex; align-items: center; justify-content: center;">
                                                <a (click)="createOrEditContractorsModal.show(item.contractors.id)" href="javascript:;" *ngIf="permission.isGranted('Pages.Contractors.Edit')" class="m-portlet__nav-link btn m-btn m-btn--hover-accent w-h-icon-24 m-btn--icon m-btn--icon-only m-btn--pill" title=" Cập nhật">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                <a (click)="deleteContractors(item.contractors.contractors)" href="javascript:;" *ngIf="permission.isGranted('Pages.Contractors.Delete')" class="m-portlet__nav-link btn m-btn m-btn--hover-danger w-h-icon-24 m-btn--icon m-btn--icon-only m-btn--pill" title=" Xóa">
                                                    <i class="la la-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>            
                        </div>

                </div>
            </div>
        </div>
    </div>

    <createOrEditContractorsModal #createOrEditContractorsModal (modalSave)="getContractors()"></createOrEditContractorsModal>

</div>